[Unit]
Description=sausage-store frontend autostart

[Service]
User={{ frontend_user }}
AmbientCapabilities=CAP_NET_BIND_SERVICE
WorkingDirectory=/var/www-data/
ExecStart=/usr/bin/http-server {{ frontend_path }}/frontend -p 80 --proxy http://10.128.0.136:8080
Restart=on-failure
StandardOutput=file:{{ logs_path }}/sausage-store-frontend.log
StandardError=file:{{ logs_path }}/sausage-store-frontend.log

[Install]
WantedBy=multi-user.target